<app-card>
  <app-card-header>
    <span class="app-card-title">Região  {{ id }}</span>
    <span class="app-card-subtitle">Cadastre relação de uma ou mais cidades na região</span>
  </app-card-header>
  <app-card-content>
    <form [formGroup]="formGroup" *ngIf="formGroup">
      <!-- <mat-form-field class="form-field" appearance="outline">
        <mat-label>Nome da região</mat-label>
        <input formControlName="name" matInput required>
      </mat-form-field> -->
      <br>
      <h4>Locais da região</h4>
      <!-- <div formArrayName="citys" *ngIf="citysFormArray.controls.length">
        <div [formGroupName]="i" *ngFor="let city of citysFormArray.controls; let i=index" >
            <select-search (removeHandler)="removeCity($event)" [index]="i" [showRemoveButton]="citysFormArray.controls.length > 1" [formControl]="city.get('name')" [data$]="citys$" name="Cidade"></select-search>
          <br>
        </div>
      </div> -->
      <app-button appSmallButton (click)="addCity()">Adicionar local</app-button>
    </form>
  </app-card-content>
  <app-card-footer>
    <app-button routerLink="/home">Cancelar</app-button>
    <app-button (click)="save()" color="primary">Salvar</app-button>
  </app-card-footer>
</app-card>

