  <div>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Região {{ id }}</mat-card-title>
        <mat-card-subtitle class="small">Cadastre relação de uma ou mais cidades na região</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Região</mat-label>
              <input matInput>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
              <mat-label>Cidade</mat-label>
              <mat-select>
                <mat-option value="outline">Option</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
