<div class="wrapper">
  <div class="toolbar">
    <div class="toolbar-row">
      <img width="100" src="https://assets-global.website-files.com/5e1cab8214cecfed4e37dee2/63d7ecd48526af64153b5d8d_fretefy-logo-240x70.png" style="filter: brightness(100);" alt="">
      <span class="spacer"></span>
      <app-button appIcon>
        <span class="material-symbols-outlined text-white">notifications</span>
      </app-button>
    </div>
  </div>
  <div class="navbar">
    <app-button appSmallButton *ngFor="let nav of navsLinks$ | async" [routerLink]="nav.url" routerLinkActive="primary">
      {{ nav.name }}
      <span *ngIf="nav.isRemove" class="material-symbols-outlined" style="cursor: pointer;" (click)="removeNavLink(nav)">close</span>
    </app-button>
  </div>
</div>
<div class="wrapper-relative"></div>
