.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
}
.wrapper + .wrapper-relative {
  height: 118px;
}
.toolbar {
  background-color: var(--midnight-blue);
  width: 100%;
  margin: 0;
  color: var(--white);
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  letter-spacing: normal;
  height:64px;
  .toolbar-row {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
    white-space: nowrap;
    flex-direction: row;
    width:100%;
    min-height: 64px;
    .spacer {
      flex: 1 1 auto;
    }
    @media only screen and (max-width: 600px) {
      padding: 0 10px;
    }
  }
}
.navbar {
  height: 50px;
  flex-wrap: nowrap !important;
  overflow-x: auto;
  padding: 5px 20px;
  height:44px;
  @media only screen and (max-width: 600px) {
    padding: 5px 10px;
  }
  background-color: var(--light);
  box-shadow: -3px 1px 1px 0px rgba(0, 0, 0, 0.01), 0px 8px 20px -6px rgba(0, 0, 0, 0.3), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
