.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.toolbar {
  background-color: var(--midnight-blue);
  width: 100%;
  margin: 0;
  color: var(--white);
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  letter-spacing: normal;
  border-bottom: 2px solid #e6e9ec;
  .toolbar-row {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
    white-space: nowrap;
    flex-direction: row;
    width:100%;
    min-height: 64px;
    .spacer {
      flex: 1 1 auto;
    }
    @media only screen and (max-width: 600px) {
      padding: 0 10px;
    }
  }
}

.navbar {
  flex-wrap: nowrap !important;
  overflow-x: auto;
  padding: 5px 20px;
  @media only screen and (max-width: 600px) {
    padding: 5px 10px;
  }
  background-color: var(--light);
  box-shadow: -3px 1px 1px 0px rgba(0, 0, 0, 0.01), 0px 8px 20px -6px rgba(0, 0, 0, 0.3), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  .route-active {
    color: white !important;
    background-color: var(--midnight-blue) !important;
  }
  .example-box {
    transition: .3s;
    text-wrap: nowrap;
    cursor:pointer;
  }
}
