<mat-form-field class="form-field" appearance="outline">
  <mat-label>{{ name }}</mat-label>
  <mat-select [formControl]="this.formControl" (selectionChange)="optionSelected($event)">
    <mat-option>
      <ngx-mat-select-search placeholderLabel="Pesquise..." noEntriesFoundLabel="Não encontrado." [formControl]="searchCtrl"></ngx-mat-select-search>
    </mat-option>
    <mat-option *ngFor="let item of dataFiltered$ | async" [value]="item.id">
      {{ item.name }}
    </mat-option>
  </mat-select>
  <button *ngIf="showRemoveButton" mat-icon-button matSuffix (click)="removeItem(); $event.stopPropagation()">
    <mat-icon class="mat-18">close</mat-icon>
  </button>
</mat-form-field>
