:root {
  --orange-red: #ff3d00;
  --light: #f2f4f8;
  --midnight-blue: #003250;
  --black-opacity: rgba(7, 15, 26, .1);
  --azul: #003250;
  --black-2: #070f1a;
  --laranja-escuro: #de5100;
  --light-grey: #95979b;
  --acqua: #08b7b7;
  --medium-turquoise: #5dc3b9;
  --laranja: #ed7c00;
  --white: white;
  --dark-grey: #1f2631;
  --black: black;
  --white-smoke: #f4f6f9;
  --gainsboro: #e4e4e4;
  --dark-orange: #ce3100;
  --gray-2023: #f4f6f9;
  --untitled-ui-gray900: #101828;
  --untitled-ui-gray200: #eaecf0;
  --untitled-ui-gray600: #475467;
  --untitled-ui-gray300: #d0d5dd;
  --untitled-ui-primary700: #6941c6;
  --untitled-ui-gray500: #667085;
  --untitled-ui-gray50: #f9fafb;
  --untitled-ui-gray100: #f2f4f7;
  --blue: #6e71dc;
  --white-opacity-light: rgba(255, 255, 255, .7);
  --white-opacity-hard: rgba(255, 255, 255, .3);
  --orange-opacity: rgba(255, 161, 133, .2);
  --verde-agua: #00ffc0;
  --untitled-ui-primary100: #f4ebff;
  --highlight: rgba(97, 141, 141, .2);
  --highlight-2: rgba(100, 221, 221, .2);
  --untitled-ui-warning300: #fec84b;
  --untitled-ui-gray400: #98a2b3;
  --untitled-ui-primary600: #7f56d9;
  --untitled-ui-white: white;
  --untitled-ui-gray700: #344054;
  --untitled-ui-gray800: #1d2939;
  --untitled-ui-primary50: #f9f5ff;
  --untitled-ui-primary800: #53389e;
  --untitled-ui-pink50: #fdf2fa;
  --untitled-ui-pink700: #c11574;
  --untitled-ui-indigo50: #eef4ff;
  --untitled-ui-indigo700: #3538cd;
}


.muted {
  background-color: var(--light);
}

.success {
  background-color: var(--verde-agua);
  color: var(--white);
}

.primary {
  background-color: var(--midnight-blue);
  color: var(--white);
}

.warning {
  background-color: var(--laranja);
  color: var(--white);
}

.danger {
  background-color: var(--orange-red);
  color: var(--white);
}

.text-white {
  color: var(--white);
}

.text-muted {
  color: var(--light);
}

.text-success {
  color: var(--verde-agua);
}

.text-primary {
  color: var(--midnight-blue);
}

.text-warning {
  color: var(--laranja);
}

.text-danger {
  color: var(--orange-red);
}
